lightcast_job_postings.csv
.venv/
*.ipynb_checkpoints
__pycache__/
*.pyc
.DS_Store

/.quarto/
**/*.quarto_ipynb
.venv/
__pycache__/
*.pyc
.venv/
__pycache__/
*.pyc
job_postings.xlsx

lightcast_job_postings.csv
cleaned_job_postings.csv
cleanedjob_postings.csv
_freeze/
